<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Beaker153">
            <ComponentRef Id="cmp87A12E369F2C3EC07E6E5DD815C44583" />
            <ComponentRef Id="cmp8B82CA79EB6EE5EB8B1D2C9CAB21B9CB" />
            <ComponentRef Id="cmpD6ADBF437C1ED1B603934EB474BC1909" />
            <ComponentRef Id="cmp5E68C4C4126423E55578E3FC2CFF519D" />
            <ComponentRef Id="cmp68A7F95103335AE54442585DD896DBA9" />
            <ComponentRef Id="cmp98288376AE2A9E65348FB064895EF33C" />
            <ComponentRef Id="cmpB25BE4614735BA7E866256ADD66C6A95" />
            <ComponentRef Id="cmpF93738A8D84633A54EE7C4D0CD1C46E0" />
            <ComponentRef Id="cmp7779D37B48EBB5C2F7B370C008E09211" />
            <ComponentRef Id="cmpAC5668B39D860839F10C66B32A3EFAEE" />
            <ComponentRef Id="cmp3B62487C3E61B8AFB3BC370787089D00" />
            <ComponentRef Id="cmpCF495448D3E80B2782B0C6A8D4E4A97E" />
            <ComponentRef Id="cmpEF7E0722167757B4145A724E4FA65BAE" />
            <ComponentRef Id="cmp14A10F6DEAF1AFBBEECECE72267E27AD" />
            <ComponentRef Id="cmpBEDF8B0B2926B32CDFE79F79C1FF2459" />
            <ComponentRef Id="cmp3259F0BDA9BC15F37B05144E6549A002" />
            <ComponentRef Id="cmpF810720AC46D1724CCDBC6D7D47F1551" />
            <ComponentRef Id="cmp411AED3689F00F69B0E867EDF6A2FC21" />
            <ComponentRef Id="cmp79C48A6CF8B04D17A18AE081AD5E040C" />
            <ComponentRef Id="cmpB1D2A9B7FD162E1D26E09A55DCF7E080" />
            <ComponentRef Id="cmpEF923531CE952FA71E73435B0CB53117" />
            <ComponentRef Id="cmpFA7BBB11C455540D00D0366E3294B190" />
            <ComponentRef Id="cmp52EE223535DF6F830E0DE41E74983D75" />
            <ComponentRef Id="cmp6ADE4D04638B75123ED5ADE01CC2D157" />
            <ComponentRef Id="cmp2A26779912B6805DD95E9989B00A4FB9" />
            <ComponentRef Id="cmp7C5D0873DC7863E19556053654155440" />
            <ComponentRef Id="cmpDF5FBD2C84F220E843013B2298F0D322" />
            <ComponentRef Id="cmp65328D913F7E6FA89379EE592F020F34" />
            <ComponentRef Id="cmpE6031C72F6985CD6568C42EBDCB6D44D" />
            <ComponentRef Id="cmp5D1BEA1E12121F5017015E6B8D004AEE" />
            <ComponentRef Id="cmp7F03C305160A6351C00D556E94FC1EA2" />
            <ComponentRef Id="cmpB726C0527607328B414B52775AFBB116" />
            <ComponentRef Id="cmpE7FE3617FDD094BF62671B67293129C8" />
            <ComponentRef Id="cmpC3B6AC436B3CD98CD69DA0F59DABCE8F" />
            <ComponentRef Id="cmpDB49C116713C58724C0A2E4173070EEC" />
            <ComponentRef Id="cmpCEF8EDDDCBE5B959C52461DCD3AA5CCC" />
            <ComponentRef Id="cmp551A3F2853356F4746722F8FD366DB06" />
            <ComponentRef Id="cmp51AB41BE9CAF22B29D0A13B5EDC73495" />
            <ComponentRef Id="cmp676BB9B7282A418C1B05CE46B379F67C" />
            <ComponentRef Id="cmp7AE283DB8DDE3BD37514C23A114EBCB8" />
            <ComponentRef Id="cmp025FA1914F91A2FF355A45233E4F6E14" />
            <ComponentRef Id="cmp1C01D36A199C9639597527A6F7E001BF" />
            <ComponentRef Id="cmp187640008D8606CF905994C432406844" />
            <ComponentRef Id="cmpA01B0CA4036027442FD10F8B0315A0B7" />
            <ComponentRef Id="cmpBED00C865935F2BE5FB5524CDF1D23E7" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dir2CAEB132207ABEE15AFCF2E188E3B3A6" Name="beaker-1.5.4-py2.6.egg">
                <Directory Id="dir749E66F77B99B43CEA3F93D300762347" Name="beaker">
                    <Component Id="cmp87A12E369F2C3EC07E6E5DD815C44583" Guid="{E746F6DA-1DDE-45BD-97CC-16F5EA3818F6}">
                        <File Id="fil399F54D2707CE01725D38A4726A11758" KeyPath="yes" Source="$(var.BeakerDir)\beaker\cache.py" />
                    </Component>
                    <Component Id="cmp8B82CA79EB6EE5EB8B1D2C9CAB21B9CB" Guid="{E2CC8077-0085-43AD-A2AF-74239888FC04}">
                        <File Id="fil5685B1482CB1ED832623EFD0053B2405" KeyPath="yes" Source="$(var.BeakerDir)\beaker\cache.pyc" />
                    </Component>
                    <Component Id="cmpD6ADBF437C1ED1B603934EB474BC1909" Guid="{CB16E480-5CFD-4A98-830A-0DAC33B8A8DC}">
                        <File Id="filB3892A5961DFF5D2F2E64218115B7134" KeyPath="yes" Source="$(var.BeakerDir)\beaker\container.py" />
                    </Component>
                    <Component Id="cmp5E68C4C4126423E55578E3FC2CFF519D" Guid="{B8949795-D675-4894-B50A-74785C761225}">
                        <File Id="fil77D56EF954BD22A4013828F495AB25E9" KeyPath="yes" Source="$(var.BeakerDir)\beaker\container.pyc" />
                    </Component>
                    <Component Id="cmp68A7F95103335AE54442585DD896DBA9" Guid="{D2139CE4-F9E2-4B0C-A323-147A92DF1DCC}">
                        <File Id="filC62B452A2A59D90F2511438FC2CC2098" KeyPath="yes" Source="$(var.BeakerDir)\beaker\converters.py" />
                    </Component>
                    <Component Id="cmp98288376AE2A9E65348FB064895EF33C" Guid="{3A67CCA0-AD17-477D-81A1-E48A8603195D}">
                        <File Id="fil82DF0D6A929EC365F70074543AE290E8" KeyPath="yes" Source="$(var.BeakerDir)\beaker\converters.pyc" />
                    </Component>
                    <Component Id="cmpB25BE4614735BA7E866256ADD66C6A95" Guid="{A8A22E4E-F414-4FD5-838E-68A090C91CB5}">
                        <File Id="fil8445216C0C82930F9193DDB34E467EC9" KeyPath="yes" Source="$(var.BeakerDir)\beaker\exceptions.py" />
                    </Component>
                    <Component Id="cmpF93738A8D84633A54EE7C4D0CD1C46E0" Guid="{A4FD91E8-B854-48B5-B811-6ADD273DAE71}">
                        <File Id="fil1007277BC3DD874513484F9D5FE70A37" KeyPath="yes" Source="$(var.BeakerDir)\beaker\exceptions.pyc" />
                    </Component>
                    <Component Id="cmp7779D37B48EBB5C2F7B370C008E09211" Guid="{1ECB1544-E9FB-4B5D-942C-344F0AB806D9}">
                        <File Id="fil48447B3A48593A4F8C6C918330807B5B" KeyPath="yes" Source="$(var.BeakerDir)\beaker\middleware.py" />
                    </Component>
                    <Component Id="cmpAC5668B39D860839F10C66B32A3EFAEE" Guid="{9FB2900F-2D92-4059-AD3B-CBD405237D60}">
                        <File Id="fil976D9D8428C61E6DD037479A00FF0E2C" KeyPath="yes" Source="$(var.BeakerDir)\beaker\middleware.pyc" />
                    </Component>
                    <Component Id="cmp3B62487C3E61B8AFB3BC370787089D00" Guid="{C877497A-D3FB-4BE5-B1DE-1559CB1B8FF7}">
                        <File Id="filBA44AE52096B384BA065BF2367510CB5" KeyPath="yes" Source="$(var.BeakerDir)\beaker\session.py" />
                    </Component>
                    <Component Id="cmpCF495448D3E80B2782B0C6A8D4E4A97E" Guid="{B65441D4-30BE-4F7A-B257-7FE66CEF2785}">
                        <File Id="fil81B98F8776CD16D471133C49AE7A9BA9" KeyPath="yes" Source="$(var.BeakerDir)\beaker\session.pyc" />
                    </Component>
                    <Component Id="cmpEF7E0722167757B4145A724E4FA65BAE" Guid="{96B2B0E0-3A11-42FC-8AB3-0A147705F0DD}">
                        <File Id="fil1F4EBC332BAD3EF8672123EDD077DB97" KeyPath="yes" Source="$(var.BeakerDir)\beaker\synchronization.py" />
                    </Component>
                    <Component Id="cmp14A10F6DEAF1AFBBEECECE72267E27AD" Guid="{E1E04986-68B6-401C-9ADA-B5C2FC88F845}">
                        <File Id="filA353429E790C64C2C86AE94DF29985C4" KeyPath="yes" Source="$(var.BeakerDir)\beaker\synchronization.pyc" />
                    </Component>
                    <Component Id="cmpBEDF8B0B2926B32CDFE79F79C1FF2459" Guid="{A7822D1C-8EFB-4CF0-84CA-F10235677857}">
                        <File Id="fil1E4252C78E4E0247061D13B49C55169E" KeyPath="yes" Source="$(var.BeakerDir)\beaker\util.py" />
                    </Component>
                    <Component Id="cmp3259F0BDA9BC15F37B05144E6549A002" Guid="{47268E27-BF16-4546-8EB1-55FBE7823F2A}">
                        <File Id="fil5E2B41BA3124BAE075E3D87F26012E93" KeyPath="yes" Source="$(var.BeakerDir)\beaker\util.pyc" />
                    </Component>
                    <Component Id="cmpF810720AC46D1724CCDBC6D7D47F1551" Guid="{869B7F51-18F3-42DB-B487-BC191074C0C8}">
                        <File Id="fil0705EBA6E3F31E78B6C8F27F336850EF" KeyPath="yes" Source="$(var.BeakerDir)\beaker\__init__.py" />
                    </Component>
                    <Component Id="cmp411AED3689F00F69B0E867EDF6A2FC21" Guid="{CDD147C7-B6F9-4B6D-B077-5F7EDF2590A9}">
                        <File Id="fil41695DF1C3C1766AD6CCD49A0815C1B0" KeyPath="yes" Source="$(var.BeakerDir)\beaker\__init__.pyc" />
                    </Component>
                    <Directory Id="dir1A67FFB07CFC31C7C017C3F41F644F3B" Name="crypto">
                        <Component Id="cmp79C48A6CF8B04D17A18AE081AD5E040C" Guid="{80918C4D-3205-4BEB-9109-AF3449AE13CD}">
                            <File Id="fil46D69B7C16B14ACCCCD827F857C9D940" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\jcecrypto.py" />
                        </Component>
                        <Component Id="cmpB1D2A9B7FD162E1D26E09A55DCF7E080" Guid="{571AAFF6-F715-4EE7-9E59-C2000B6331E5}">
                            <File Id="fil72FE066F41D5E0DB5C454397FEC769D5" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\jcecrypto.pyc" />
                        </Component>
                        <Component Id="cmpEF923531CE952FA71E73435B0CB53117" Guid="{E018071F-0A58-4C64-812A-8DAD217ED9BF}">
                            <File Id="filA147B31F9F18B6F674E7D00F3CBFC372" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\pbkdf2.py" />
                        </Component>
                        <Component Id="cmpFA7BBB11C455540D00D0366E3294B190" Guid="{C5C666BB-F357-4724-9E20-61E808BA88DD}">
                            <File Id="fil1D9A022E920813F60924C636B69F5DDF" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\pbkdf2.pyc" />
                        </Component>
                        <Component Id="cmp52EE223535DF6F830E0DE41E74983D75" Guid="{7982F9A4-0F39-4032-8B83-C4A5BC6433AD}">
                            <File Id="fil4F211302FBF34254847BD821921CB126" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\pycrypto.py" />
                        </Component>
                        <Component Id="cmp6ADE4D04638B75123ED5ADE01CC2D157" Guid="{1D070B3F-EE1E-44D0-8FC5-A5D5959E6535}">
                            <File Id="fil82D681B85CD97AFAAAC81B43EB259DF4" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\pycrypto.pyc" />
                        </Component>
                        <Component Id="cmp2A26779912B6805DD95E9989B00A4FB9" Guid="{7AD288F7-BA4B-43B5-8D63-B674D44C5F56}">
                            <File Id="fil5DC0307215470645249A32BFF1EB1451" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\util.py" />
                        </Component>
                        <Component Id="cmp7C5D0873DC7863E19556053654155440" Guid="{00B95719-A4C9-4A04-B07E-94C81F177B2D}">
                            <File Id="fil7A6239DD3EDA099EE8C57C57308BA609" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\util.pyc" />
                        </Component>
                        <Component Id="cmpDF5FBD2C84F220E843013B2298F0D322" Guid="{90E44438-79E4-490B-948B-B184989F17A6}">
                            <File Id="filA98D2D28F3820D5961E689DC756F286B" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\__init__.py" />
                        </Component>
                        <Component Id="cmp65328D913F7E6FA89379EE592F020F34" Guid="{82D08496-49AB-4F78-B730-FF89CD3D3DCA}">
                            <File Id="fil1AF2790C103CE6737A0AD1B839338813" KeyPath="yes" Source="$(var.BeakerDir)\beaker\crypto\__init__.pyc" />
                        </Component>
                    </Directory>
                    <Directory Id="dir158F3CBF1D5490F7994717E85C43022F" Name="ext">
                        <Component Id="cmpE6031C72F6985CD6568C42EBDCB6D44D" Guid="{F7B2576D-1C7C-40D2-A9A6-73DBD01F06DC}">
                            <File Id="fil50AEF6229649470689EF811D92E4484E" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\database.py" />
                        </Component>
                        <Component Id="cmp5D1BEA1E12121F5017015E6B8D004AEE" Guid="{E6823BDA-CDB5-477B-9984-C09397F93903}">
                            <File Id="fil67F512B5FE22F457B6D220F8D96AED59" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\database.pyc" />
                        </Component>
                        <Component Id="cmp7F03C305160A6351C00D556E94FC1EA2" Guid="{B4CF56EF-F528-436D-BE18-D556DBFF705D}">
                            <File Id="filD3FDFA56871B343BD2A35E2CA7C8694A" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\google.py" />
                        </Component>
                        <Component Id="cmpB726C0527607328B414B52775AFBB116" Guid="{B693D856-C2F8-462C-91DE-7B0BB696CEF6}">
                            <File Id="filD8CED79CBBB03B0E4E9ED377DB029B2B" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\google.pyc" />
                        </Component>
                        <Component Id="cmpE7FE3617FDD094BF62671B67293129C8" Guid="{EBF0CA49-A516-40BE-A7D8-8DF1EB22BE09}">
                            <File Id="filD1A91B378AD5C33630DB6B300881FA9F" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\memcached.py" />
                        </Component>
                        <Component Id="cmpC3B6AC436B3CD98CD69DA0F59DABCE8F" Guid="{BE861EB6-C75D-45B8-8C8A-4D964F463B19}">
                            <File Id="filBA2096B44C64469615B038B2B48CFAFB" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\memcached.pyc" />
                        </Component>
                        <Component Id="cmpDB49C116713C58724C0A2E4173070EEC" Guid="{28B6860F-4AC3-4F01-BA4F-04663A1BB7BE}">
                            <File Id="fil774F2342840070AF5ED5CDD6DCBCA240" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\sqla.py" />
                        </Component>
                        <Component Id="cmpCEF8EDDDCBE5B959C52461DCD3AA5CCC" Guid="{4029E2FD-C1A6-448F-8E3A-533DC65EA261}">
                            <File Id="fil85A8FD99CE455F8103111817898673D4" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\sqla.pyc" />
                        </Component>
                        <Component Id="cmp551A3F2853356F4746722F8FD366DB06" Guid="{E7B0CC6D-7CDD-49E2-9137-AFC4F1F87966}">
                            <File Id="fil815EEA62226774394E93B180A884D771" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\__init__.py" />
                        </Component>
                        <Component Id="cmp51AB41BE9CAF22B29D0A13B5EDC73495" Guid="{5E835ED1-C94E-49FA-87B5-A06225A75461}">
                            <File Id="filA1D777E79B13F5397A3E5D2421B4C516" KeyPath="yes" Source="$(var.BeakerDir)\beaker\ext\__init__.pyc" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirF811B6B7322E9B53C767B31A3D082A75" Name="EGG-INFO">
                    <Component Id="cmp676BB9B7282A418C1B05CE46B379F67C" Guid="{7F7D2A2C-9F45-403E-8475-B7EBB997E5EC}">
                        <File Id="fil6FC202B66BD8AEA94E0360B76AB13FFC" KeyPath="yes" Source="$(var.BeakerDir)\EGG-INFO\dependency_links.txt" />
                    </Component>
                    <Component Id="cmp7AE283DB8DDE3BD37514C23A114EBCB8" Guid="{B0A8BE1A-3273-44F2-952D-0971F0DA5717}">
                        <File Id="filA1F8D7CCD76D84ACF3824BFA04703A14" KeyPath="yes" Source="$(var.BeakerDir)\EGG-INFO\entry_points.txt" />
                    </Component>
                    <Component Id="cmp025FA1914F91A2FF355A45233E4F6E14" Guid="{1444FD87-C199-40B8-99CA-1D47DC35B402}">
                        <File Id="fil72EA6F4FA5A950FE703862FDB7DB998F" KeyPath="yes" Source="$(var.BeakerDir)\EGG-INFO\not-zip-safe" />
                    </Component>
                    <Component Id="cmp1C01D36A199C9639597527A6F7E001BF" Guid="{1570E19F-6FB4-493B-BF30-EE0EB44A0C7E}">
                        <File Id="filFB010AADE46B8A411742E9C59AAD1A8E" KeyPath="yes" Source="$(var.BeakerDir)\EGG-INFO\PKG-INFO" />
                    </Component>
                    <Component Id="cmp187640008D8606CF905994C432406844" Guid="{C24C55E5-A161-4739-BF2E-DB9592F3AD08}">
                        <File Id="filBDFAB007F9978EBCFBFBF9909B20CBEC" KeyPath="yes" Source="$(var.BeakerDir)\EGG-INFO\requires.txt" />
                    </Component>
                    <Component Id="cmpA01B0CA4036027442FD10F8B0315A0B7" Guid="{2BCB3AA8-4349-4141-B53B-0EDFF3E3DC57}">
                        <File Id="fil0F56A4EA6FC3D429977FC938D6ABFDC7" KeyPath="yes" Source="$(var.BeakerDir)\EGG-INFO\SOURCES.txt" />
                    </Component>
                    <Component Id="cmpBED00C865935F2BE5FB5524CDF1D23E7" Guid="{343964BE-BF80-40C7-AFD4-032E2634BE1B}">
                        <File Id="filCEABC1D24FD0DB5D3BD6120FC5DCF4AE" KeyPath="yes" Source="$(var.BeakerDir)\EGG-INFO\top_level.txt" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>