<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dir010385527DE87332840D28FE6A9F1F04" Name="httplib2-0.6.0-py2.6.egg">
                <Directory Id="dir1E14AA092816AD64BE27CCD7FDA10DBC" Name="EGG-INFO">
                    <Component Id="cmp75CF73A72E5F337C11EDB1E15A20780F" Guid="{F5DD6D1A-F7B3-4F0A-AB38-9EAAE8400EF6}">
                        <File Id="filE501DF1552A456F2927894E9F5799AFC" KeyPath="yes" Source="$(var.Httplib2Dir)\EGG-INFO\dependency_links.txt" />
                    </Component>
                    <Component Id="cmp7081320ED7AD50A97A2475C36CB1CE37" Guid="{CC7ED0F0-DCAF-4FEC-BAF3-0AC8FC7BD8C2}">
                        <File Id="fil6915F7FDB0E5A68312300499A65A0DC6" KeyPath="yes" Source="$(var.Httplib2Dir)\EGG-INFO\PKG-INFO" />
                    </Component>
                    <Component Id="cmp00426B723012C0FCCA738FDD384B3336" Guid="{889A8188-1A0B-4B2B-8E00-F24007604CE4}">
                        <File Id="fil8950DFD30769C439789AF0F5C9290DE0" KeyPath="yes" Source="$(var.Httplib2Dir)\EGG-INFO\SOURCES.txt" />
                    </Component>
                    <Component Id="cmpADADD3D49CFFC5E14FC408BE9E263622" Guid="{465A2646-B58F-4031-B7AD-61BEC1F33A9A}">
                        <File Id="fil64DFA57B4A374FAC769BC5F85513489C" KeyPath="yes" Source="$(var.Httplib2Dir)\EGG-INFO\top_level.txt" />
                    </Component>
                    <Component Id="cmpA9C015C077406E0DC1CBDB5B76763C1F" Guid="{3A409180-271F-43F4-A816-E5207D7F2415}">
                        <File Id="fil7403C8E530BE86338DC9AC08F5EC20D9" KeyPath="yes" Source="$(var.Httplib2Dir)\EGG-INFO\zip-safe" />
                    </Component>
                </Directory>
                <Directory Id="dirCF49B77E1F61D6EF5B45291B8A189C9B" Name="httplib2">
                    <Component Id="cmp48CD0F35D174A57CAB46FF74EE31D52C" Guid="{3500FEDD-4A61-4636-BEE5-3732A35602C8}">
                        <File Id="fil4B506D3437389754F72093BBF4CD91A2" KeyPath="yes" Source="$(var.Httplib2Dir)\httplib2\iri2uri.py" />
                    </Component>
                    <Component Id="cmpDB92B0F1C2E657F17486AD5B5ED7CC2F" Guid="{B4096ABB-E644-4D9A-915C-B1AA4A923E04}">
                        <File Id="fil0119CCA40CBE87C7DF9AACC85590F65B" KeyPath="yes" Source="$(var.Httplib2Dir)\httplib2\iri2uri.pyc" />
                    </Component>
                    <Component Id="cmp39F58053C0E8A44901E74403B99E7D35" Guid="{7CD8612A-63A3-493A-AF54-9D981777A6DD}">
                        <File Id="filD2F06298C9467DC2869716DD80C67704" KeyPath="yes" Source="$(var.Httplib2Dir)\httplib2\__init__.py" />
                    </Component>
                    <Component Id="cmpF05A3770B77673984DA4B4CFF8BADC98" Guid="{607D7C8D-29E1-4015-9090-BA52F9287031}">
                        <File Id="fil2F175F45CA49E7E862D5D6E91EDE7B33" KeyPath="yes" Source="$(var.Httplib2Dir)\httplib2\__init__.pyc" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Httplib2060">
            <ComponentRef Id="cmp75CF73A72E5F337C11EDB1E15A20780F" />
            <ComponentRef Id="cmp7081320ED7AD50A97A2475C36CB1CE37" />
            <ComponentRef Id="cmp00426B723012C0FCCA738FDD384B3336" />
            <ComponentRef Id="cmpADADD3D49CFFC5E14FC408BE9E263622" />
            <ComponentRef Id="cmpA9C015C077406E0DC1CBDB5B76763C1F" />
            <ComponentRef Id="cmp48CD0F35D174A57CAB46FF74EE31D52C" />
            <ComponentRef Id="cmpDB92B0F1C2E657F17486AD5B5ED7CC2F" />
            <ComponentRef Id="cmp39F58053C0E8A44901E74403B99E7D35" />
            <ComponentRef Id="cmpF05A3770B77673984DA4B4CFF8BADC98" />
        </ComponentGroup>
    </Fragment>
</Wix>