<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Mako033">
            <ComponentRef Id="cmp5C57887E20B58C07B9651FDCA2F4B3CC" />
            <ComponentRef Id="cmp78B81A065E129093AF3F7F13D0FC8E4B" />
            <ComponentRef Id="cmpE61531040E23F9C567B175869231D840" />
            <ComponentRef Id="cmp575ACD38E437CA9D5EED4F06D97BEE28" />
            <ComponentRef Id="cmp4EEA6AF14BA635047908F56955A84132" />
            <ComponentRef Id="cmp4E6C0A2F785E91327C1A7DBA725A3ECD" />
            <ComponentRef Id="cmp9FE195E32A6E4868AECAEB4C837BAAAA" />
            <ComponentRef Id="cmp6E482F3D9B386539DA41710FAD334B49" />
            <ComponentRef Id="cmp5A8D4B5CF86F3597052A346E0FF53D5E" />
            <ComponentRef Id="cmpE785CD06723099546C8BFC09732B8598" />
            <ComponentRef Id="cmpA9B30F7FB7856099B4B5102A9DD4D344" />
            <ComponentRef Id="cmpE02E3E7DF5597D171B0F540C0CB1C99A" />
            <ComponentRef Id="cmp3B103B4C2530D8B7E250F5607440CD22" />
            <ComponentRef Id="cmp4A16019E7BAF1AE74D0CBA70B68B19E6" />
            <ComponentRef Id="cmp450116D6DE50972DB3391544CCB8D19A" />
            <ComponentRef Id="cmpC196E49CF8B302D2EFF9654A704C2B7B" />
            <ComponentRef Id="cmp254ECFE45FC2357B08B9A7F9139FE75C" />
            <ComponentRef Id="cmpEFCA50D48E850EB53B5BCFB92BC34520" />
            <ComponentRef Id="cmp38C742B42A216710EE432C0270ECB546" />
            <ComponentRef Id="cmpB4CD19251B13A49B88D223BD4AF895DD" />
            <ComponentRef Id="cmpF6623D13A1D1AA4073A44912B525FC79" />
            <ComponentRef Id="cmp3DDD77A604980A0C81DECDB0897B06F1" />
            <ComponentRef Id="cmp91538A85D44AA4F992ABB9089DA435AD" />
            <ComponentRef Id="cmp3604954611D96D505EBA7C80CE4AF112" />
            <ComponentRef Id="cmpF2383FD027DAF25DC227732416791E71" />
            <ComponentRef Id="cmp760975419E0965DE9F6D3D6ECB11D74A" />
            <ComponentRef Id="cmp37E2F2100F2AFE6D863944A866F5DE47" />
            <ComponentRef Id="cmpA3AC6568946B2E7979270294D82FA71A" />
            <ComponentRef Id="cmpC12AACA810125F9BBDFF6AB76D97D65B" />
            <ComponentRef Id="cmp572115840AE23503D951B4D058FB48B8" />
            <ComponentRef Id="cmp7B000FBCFBAD150AEC105A5DCE8FB9E6" />
            <ComponentRef Id="cmp37EC80B4E437E619C36DCF9853CCC1CF" />
            <ComponentRef Id="cmp07A9A2D5991A1F92C611513CB46EE90F" />
            <ComponentRef Id="cmp2A912B6C20F40CAFAD3BB2D99E9482AE" />
            <ComponentRef Id="cmp1B6EAD2EE40B8F91EAC8D42D3A870943" />
            <ComponentRef Id="cmp261030A498163FFFAE56C694D5DF5AE7" />
            <ComponentRef Id="cmp20F02C713285C2D41961E7F8EABABCA2" />
            <ComponentRef Id="cmpF3726ABD0F66EE391498E7922BAB3877" />
            <ComponentRef Id="cmp19D90A630F56AF5634CC893E92F238E0" />
            <ComponentRef Id="cmpA343043920A6283BC5A136F08B852FA6" />
            <ComponentRef Id="cmpD00377616B8463F2DFDCB8B0C979AD1C" />
            <ComponentRef Id="cmp80383270432AA4BDABE29FF43771D5B3" />
            <ComponentRef Id="cmpBC60154EE00B3A38161665C84BC7BF14" />
            <ComponentRef Id="cmpFDA0CBBC12FDDBB258DEC57B7F62F1C9" />
            <ComponentRef Id="cmpD772C584C780C508B1D044EFE3C4D88F" />
            <ComponentRef Id="cmp8CFE29F64AC0BECA9C350D784189A2BB" />
            <ComponentRef Id="cmpEE4E5C624B2E26036436CD091043F978" />
            <ComponentRef Id="cmp11CC2071ACCC1F55C621CD9B40DCD42D" />
            <ComponentRef Id="cmp42811D3F84E358D4C0E3BBE4F1A23CF1" />
            <ComponentRef Id="cmp51938F1ECA0C0024E5557280E2525572" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Directory Id="dir98FAE55B70610E41DB54868E9B220DCB" Name="mako-0.3.4-py2.6.egg">
                <Directory Id="dirD3DDFB9FA126948D93EC32BAE422CFFC" Name="EGG-INFO">
                    <Component Id="cmp5C57887E20B58C07B9651FDCA2F4B3CC" Guid="{61F909F3-2F01-47E3-82FB-D8E08E82C634}">
                        <File Id="fil478BB803290C4769D749200931D57BFB" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\dependency_links.txt" />
                    </Component>
                    <Component Id="cmp78B81A065E129093AF3F7F13D0FC8E4B" Guid="{320F172F-E707-49C2-85CC-F7E61DA0882A}">
                        <File Id="fil7152FF7F67DB5698AE0CBF5FB96319D6" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\entry_points.txt" />
                    </Component>
                    <Component Id="cmpE61531040E23F9C567B175869231D840" Guid="{D40A766C-4ABE-4430-A68D-0DF2A71995D3}">
                        <File Id="fil23F879B5BA87186744B21E6DBCBB263D" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\not-zip-safe" />
                    </Component>
                    <Component Id="cmp575ACD38E437CA9D5EED4F06D97BEE28" Guid="{729C3B17-A769-498E-9D8D-1255EA69B3FA}">
                        <File Id="fil46C80CDF92B56F302D96BF9880C29E2D" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\PKG-INFO" />
                    </Component>
                    <Component Id="cmp4EEA6AF14BA635047908F56955A84132" Guid="{159DD42C-79B3-4AE3-BE39-39092CDA6010}">
                        <File Id="fil2CA235CB823D7267594D41D4B00D332D" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\requires.txt" />
                    </Component>
                    <Component Id="cmp4E6C0A2F785E91327C1A7DBA725A3ECD" Guid="{E395E320-5380-413A-9020-A80BB550F10F}">
                        <File Id="filF72D5AAD8B7F973CFCA0D8B450C2FF8E" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\SOURCES.txt" />
                    </Component>
                    <Component Id="cmp9FE195E32A6E4868AECAEB4C837BAAAA" Guid="{AFC3085A-78C9-47A5-9321-9466C70DF3B5}">
                        <File Id="filED11F9D86C840925BBEEFE9954016C8C" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\top_level.txt" />
                    </Component>
                    <Directory Id="dir00C390A533E0CE63B57C29C470BEFC42" Name="scripts">
                        <Component Id="cmp6E482F3D9B386539DA41710FAD334B49" Guid="{974D4625-C96B-4E49-956B-4865D9BED98A}">
                            <File Id="filF2DDA4B21764D909106A25E44AE10363" KeyPath="yes" Source="$(var.MakoDir)\EGG-INFO\scripts\mako-render" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirA249B74779A4DC650F8C178A18FBC8CA" Name="mako">
                    <Component Id="cmp5A8D4B5CF86F3597052A346E0FF53D5E" Guid="{92E6D7D6-545D-4D4A-BB02-2A969A23BC37}">
                        <File Id="filF1AF798BDA1167215F2B4BCF1C94AF47" KeyPath="yes" Source="$(var.MakoDir)\mako\ast.py" />
                    </Component>
                    <Component Id="cmpE785CD06723099546C8BFC09732B8598" Guid="{5955DF23-D7B9-4161-A57E-88DB45D8E9E2}">
                        <File Id="filD25065D82DAFC5FCE22661C8A07E1A4C" KeyPath="yes" Source="$(var.MakoDir)\mako\ast.pyc" />
                    </Component>
                    <Component Id="cmpA9B30F7FB7856099B4B5102A9DD4D344" Guid="{FFCB83E6-8BBF-443D-8D4D-8EF7C3B967F4}">
                        <File Id="filD83A74B2DEE4F0F805730AAA33089A1E" KeyPath="yes" Source="$(var.MakoDir)\mako\cache.py" />
                    </Component>
                    <Component Id="cmpE02E3E7DF5597D171B0F540C0CB1C99A" Guid="{47D514E5-9CBE-432B-8AFC-174F079362E0}">
                        <File Id="fil669ACA62575F50502CDA869220C24BC2" KeyPath="yes" Source="$(var.MakoDir)\mako\cache.pyc" />
                    </Component>
                    <Component Id="cmp3B103B4C2530D8B7E250F5607440CD22" Guid="{6144D85D-88ED-4A51-977B-983EBED863AF}">
                        <File Id="fil3E0FA2A09813237655E2ACD2D89E1198" KeyPath="yes" Source="$(var.MakoDir)\mako\codegen.py" />
                    </Component>
                    <Component Id="cmp4A16019E7BAF1AE74D0CBA70B68B19E6" Guid="{693AB59A-8A34-4E4B-84FF-E8B0CF379CCC}">
                        <File Id="filE7EECCACC7529A612E369FB89A925B1F" KeyPath="yes" Source="$(var.MakoDir)\mako\codegen.pyc" />
                    </Component>
                    <Component Id="cmp450116D6DE50972DB3391544CCB8D19A" Guid="{00B4A471-1813-4F22-B670-6C790D442A71}">
                        <File Id="filBEFEFAE4295A332A12F691B7AFE39753" KeyPath="yes" Source="$(var.MakoDir)\mako\exceptions.py" />
                    </Component>
                    <Component Id="cmpC196E49CF8B302D2EFF9654A704C2B7B" Guid="{78BD9C1A-9552-445C-9C5E-DFBB4DF57AA7}">
                        <File Id="fil3AD63AF55F74952B090B5F8E01095655" KeyPath="yes" Source="$(var.MakoDir)\mako\exceptions.pyc" />
                    </Component>
                    <Component Id="cmp254ECFE45FC2357B08B9A7F9139FE75C" Guid="{F85D3890-9595-4BA8-B5B7-445EF67A88E3}">
                        <File Id="filC81FE700BF8C78328BA3252E2A4320F1" KeyPath="yes" Source="$(var.MakoDir)\mako\filters.py" />
                    </Component>
                    <Component Id="cmpEFCA50D48E850EB53B5BCFB92BC34520" Guid="{76FF8549-682B-49DC-997D-222FDE90AB5E}">
                        <File Id="fil0F694EFA395A4DD0FDAEA36C2A0CF0DA" KeyPath="yes" Source="$(var.MakoDir)\mako\filters.pyc" />
                    </Component>
                    <Component Id="cmp38C742B42A216710EE432C0270ECB546" Guid="{A094C6D8-2C74-43E4-BF7B-9CE2ECFAD81E}">
                        <File Id="filCC01721129F0D9C190EA9589FF5481B9" KeyPath="yes" Source="$(var.MakoDir)\mako\lexer.py" />
                    </Component>
                    <Component Id="cmpB4CD19251B13A49B88D223BD4AF895DD" Guid="{44A638DF-01F4-4713-979C-98D0DC7F5C03}">
                        <File Id="fil349651ED5AC7E5A42936FDA8948FF376" KeyPath="yes" Source="$(var.MakoDir)\mako\lexer.pyc" />
                    </Component>
                    <Component Id="cmpF6623D13A1D1AA4073A44912B525FC79" Guid="{561BCDC4-285F-4875-8761-3397797FDBD5}">
                        <File Id="filB3A1D8D6450E1B1949A51917FF6FB280" KeyPath="yes" Source="$(var.MakoDir)\mako\lookup.py" />
                    </Component>
                    <Component Id="cmp3DDD77A604980A0C81DECDB0897B06F1" Guid="{2F0A1EA4-46CC-4561-A43B-22266347639A}">
                        <File Id="fil691615348C0EA9E374690CF6F87BD447" KeyPath="yes" Source="$(var.MakoDir)\mako\lookup.pyc" />
                    </Component>
                    <Component Id="cmp91538A85D44AA4F992ABB9089DA435AD" Guid="{1A6F36A5-A3BB-40D0-A2BC-8A6C9AD2DCDD}">
                        <File Id="filE90D8AEB3B0AF7DC800B00F08AB4C869" KeyPath="yes" Source="$(var.MakoDir)\mako\parsetree.py" />
                    </Component>
                    <Component Id="cmp3604954611D96D505EBA7C80CE4AF112" Guid="{4D0BA3B3-B905-4B99-ADFA-5993FF5F5E65}">
                        <File Id="filDD4F7BB8125B0528B306060600B8D59D" KeyPath="yes" Source="$(var.MakoDir)\mako\parsetree.pyc" />
                    </Component>
                    <Component Id="cmpF2383FD027DAF25DC227732416791E71" Guid="{625A4EDE-0F3C-41D7-956E-1C89B1C583E8}">
                        <File Id="fil0D36C62B07EF016DE653C5EF278A68F7" KeyPath="yes" Source="$(var.MakoDir)\mako\pygen.py" />
                    </Component>
                    <Component Id="cmp760975419E0965DE9F6D3D6ECB11D74A" Guid="{DBC320C6-03A3-4D3B-ACE1-FCFCBE184621}">
                        <File Id="fil87CC8F67D0E9CECE9E11C3FBEEE0F822" KeyPath="yes" Source="$(var.MakoDir)\mako\pygen.pyc" />
                    </Component>
                    <Component Id="cmp37E2F2100F2AFE6D863944A866F5DE47" Guid="{49ED4441-4881-4529-8030-26B3BC179C4B}">
                        <File Id="fil368A92AA895BB4C0BD768B5C5437145E" KeyPath="yes" Source="$(var.MakoDir)\mako\pyparser.py" />
                    </Component>
                    <Component Id="cmpA3AC6568946B2E7979270294D82FA71A" Guid="{DB16FE3F-43E1-45D7-95E6-002855E3CF3B}">
                        <File Id="fil9A7894BF42100627CFA36BC0A79F2324" KeyPath="yes" Source="$(var.MakoDir)\mako\pyparser.pyc" />
                    </Component>
                    <Component Id="cmpC12AACA810125F9BBDFF6AB76D97D65B" Guid="{5D030152-BD4D-40D9-8711-F51BE6FE25B8}">
                        <File Id="fil0BBD10EF5C70D7ADB8464E8238C6FC70" KeyPath="yes" Source="$(var.MakoDir)\mako\runtime.py" />
                    </Component>
                    <Component Id="cmp572115840AE23503D951B4D058FB48B8" Guid="{E86DC5A4-C95C-4FAA-837E-775B2816AD42}">
                        <File Id="fil4604DF5BE3E788E238F57EEC3E84658E" KeyPath="yes" Source="$(var.MakoDir)\mako\runtime.pyc" />
                    </Component>
                    <Component Id="cmp7B000FBCFBAD150AEC105A5DCE8FB9E6" Guid="{C7178C36-E2F0-4C91-850D-BF29AAE6DE65}">
                        <File Id="fil3A4E33BFF33817074141F000908C16E3" KeyPath="yes" Source="$(var.MakoDir)\mako\template.py" />
                    </Component>
                    <Component Id="cmp37EC80B4E437E619C36DCF9853CCC1CF" Guid="{BC6BEBAC-9B3D-4365-925E-3B26A3197DA5}">
                        <File Id="filE5F74E369695EB8FB3A927C851D6334A" KeyPath="yes" Source="$(var.MakoDir)\mako\template.pyc" />
                    </Component>
                    <Component Id="cmp07A9A2D5991A1F92C611513CB46EE90F" Guid="{17D59AEC-14D5-425B-8F34-5AAD68CABF99}">
                        <File Id="filA411E9F3B157BE3002F337599581E11F" KeyPath="yes" Source="$(var.MakoDir)\mako\util.py" />
                    </Component>
                    <Component Id="cmp2A912B6C20F40CAFAD3BB2D99E9482AE" Guid="{F7FCC5A7-A70E-4F62-BA3C-0BB7B2FF6153}">
                        <File Id="fil02BCE5AB03C1FFA5831EB1B8E783D097" KeyPath="yes" Source="$(var.MakoDir)\mako\util.pyc" />
                    </Component>
                    <Component Id="cmp1B6EAD2EE40B8F91EAC8D42D3A870943" Guid="{C9EA14CA-6D81-40C2-B405-D0D665C6686D}">
                        <File Id="filAE5E5B248DA9A83A10A73E04FFEB5AE6" KeyPath="yes" Source="$(var.MakoDir)\mako\_ast_util.py" />
                    </Component>
                    <Component Id="cmp261030A498163FFFAE56C694D5DF5AE7" Guid="{460FD43A-E373-45D6-9A97-D2517CE30802}">
                        <File Id="filC520B826D59CCC38ABEB14BBA3015D50" KeyPath="yes" Source="$(var.MakoDir)\mako\_ast_util.pyc" />
                    </Component>
                    <Component Id="cmp20F02C713285C2D41961E7F8EABABCA2" Guid="{C96D0AF2-E8C9-49F9-B2E3-28262CFBD85B}">
                        <File Id="filC4A3BB198DD0A352F52E8F6D4EC4BB58" KeyPath="yes" Source="$(var.MakoDir)\mako\__init__.py" />
                    </Component>
                    <Component Id="cmpF3726ABD0F66EE391498E7922BAB3877" Guid="{6E534F62-14FA-4DD1-A35F-361F9831E780}">
                        <File Id="fil225EF36DE234776A9220CEAFB16843A1" KeyPath="yes" Source="$(var.MakoDir)\mako\__init__.pyc" />
                    </Component>
                    <Directory Id="dirE39CEF6EFCE8EC8ACA30FAA0857F6922" Name="ext">
                        <Component Id="cmp19D90A630F56AF5634CC893E92F238E0" Guid="{7571F632-ACA7-44A0-90A4-871F84DAB244}">
                            <File Id="fil09236A5114E1916F98A514A4208DD7E9" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\autohandler.py" />
                        </Component>
                        <Component Id="cmpA343043920A6283BC5A136F08B852FA6" Guid="{72C3AAC1-334E-4372-A808-5AFF34AB28D3}">
                            <File Id="filE308FC21116EF8A76D69E449732A8EE6" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\autohandler.pyc" />
                        </Component>
                        <Component Id="cmpD00377616B8463F2DFDCB8B0C979AD1C" Guid="{A3A59200-3A2D-4ADA-B8B8-1501ED9DC050}">
                            <File Id="fil0BDD4D35E33A7D3516AD98AE868195CC" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\babelplugin.py" />
                        </Component>
                        <Component Id="cmp80383270432AA4BDABE29FF43771D5B3" Guid="{029419E3-7F24-4505-9B81-79DF49DFB332}">
                            <File Id="fil181C9AFFE74E174067213B89927F1C33" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\babelplugin.pyc" />
                        </Component>
                        <Component Id="cmpBC60154EE00B3A38161665C84BC7BF14" Guid="{0D71B201-9D7E-4DED-ADB9-C409BA61CCEB}">
                            <File Id="fil72C2E94FB75C437C6766DE2848DA23F8" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\preprocessors.py" />
                        </Component>
                        <Component Id="cmpFDA0CBBC12FDDBB258DEC57B7F62F1C9" Guid="{29D0AAEA-27D7-4703-A522-EA58B8CACB83}">
                            <File Id="fil975A64A73D232C13EFD871EFF145BDA8" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\preprocessors.pyc" />
                        </Component>
                        <Component Id="cmpD772C584C780C508B1D044EFE3C4D88F" Guid="{DFBAD238-81B5-4D91-A170-2C0BE57A98EC}">
                            <File Id="fil7182F247A7C4E5D5533187C18002EF7C" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\pygmentplugin.py" />
                        </Component>
                        <Component Id="cmp8CFE29F64AC0BECA9C350D784189A2BB" Guid="{C1CB5949-67D5-4F6B-917B-A577E1826272}">
                            <File Id="fil6069A0C7F7964A9119BA95397F194B3C" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\pygmentplugin.pyc" />
                        </Component>
                        <Component Id="cmpEE4E5C624B2E26036436CD091043F978" Guid="{825B6E36-C582-48A9-A1B3-2473123DEC4C}">
                            <File Id="fil2DB203164F4C516E838EF6B011377F59" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\turbogears.py" />
                        </Component>
                        <Component Id="cmp11CC2071ACCC1F55C621CD9B40DCD42D" Guid="{C3332336-B7F5-4715-A90E-B8F7CE42525F}">
                            <File Id="fil2A971A6CC18E17D62136FC33ADA2393D" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\turbogears.pyc" />
                        </Component>
                        <Component Id="cmp42811D3F84E358D4C0E3BBE4F1A23CF1" Guid="{5F2A5A65-8DA6-460E-90EC-B622EDDED459}">
                            <File Id="fil403FC403E56374F4AE6C8751D3CEC65B" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\__init__.py" />
                        </Component>
                        <Component Id="cmp51938F1ECA0C0024E5557280E2525572" Guid="{D0174B83-D38A-45A4-B639-25A4244CFAF6}">
                            <File Id="fil551756068C3E915D00D3E7CBA8FA78B3" KeyPath="yes" Source="$(var.MakoDir)\mako\ext\__init__.pyc" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>